*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  .container{
    margin-top:20px;
    background:white;
    padding:20px;
    max-width:200%;
    min-width:95%;
    margin-bottom:100%; 
  }
  .container .form-control{
    width: 110px;
      height: 32px;
  }
  label{
    text-align:right;
    clear:both;
    float:left;
    margin-right:15px;
    margin-left: 15px;
  }
  .group{
    display:flex;  
    justify-content: center; 
      align-items: baseline;
      
  }
  
  
  .users{
    display: flex;
    width: 100%;
    justify-content:center;
  }
  .users .card{
      width: 35%;
      margin: 57px;
    background: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid black;
    margin-left:35px;
    
  }
  
  .users .card h4{
    text-transform: uppercase;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
  }
  .users .card p{
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .users table{
    margin:  auto;
  }
  
  .users td{
    font-size: 14px;
    padding-right: 15px;
    text-align:center;
  }

  button{
    border: 1px solid gray;
    border-radius: 10px solid gray;
    transition: 0.1s;
  }
  button:hover{
    background-color: black;
    color: white;
  }
  button:active{
    background-color: gray;
    color: black;
  }